<app-navbar></app-navbar>
<img src="/assets/FotoVitrinas.png" width="100%" height="auto">
<div class="container-fluid">

    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        <!--Controls-->
        <br>
        <div class="controls-top d-flex justify-content-center">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-arrow-left fa-4x"
                    aria-hidden="true"></i></a>
                <div style="padding-left: 3.5cm; padding-right: 3.5cm;"></div>

            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-arrow-right fa-4x"
                    aria-hidden="true"></i></a>
        </div>
        <!--/.Controls-->
        <!--Indicators-->
        <ol class="carousel-indicators ">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>

        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <br>
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

                <div class="col-md-4" style="float:left">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h3>Campaña</h3>
                            <h2><strong>"Mama va primero"</strong></h2>
                            <h4 style="color: rgb(214, 150, 30);">Publicidad</h4>
                        </div>
                        <img class="card-img-top" src="/assets/FotoVitrina2.png" width="100%" height="650px auto" alt="Card image cap">
                        <div class="card-body">
                            <button class="btn btn-success d-block mx-auto">INGRESAR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h3>Revista</h3>
                            <h2><strong>"Economically Speaking"</strong></h2>
                            <h4 style="color: rgb(214, 150, 30);">Ciencias Empresariales</h4>
                        </div>
                        <img class="card-img-top" src="/assets/FotoVitrina2.png" width="100%" height="650px auto"  alt="Card image cap">
                        <div class="card-body">
                            <button class="btn btn-success d-block mx-auto">INGRESAR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h3>Editorial</h3>
                            <h2><strong>"Gaseosas y salud dental"</strong></h2>
                            <h4 style="color: rgb(214, 150, 30);">Odontologia</h4>
                        </div>
                        <img class="card-img-top" src="/assets/FotoVitrina2.png" height="650px auto" alt="Card image cap">
                        <div class="card-body">
                           <button class="btn btn-success d-block mx-auto">INGRESAR</button>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h3>Campaña 1</h3>
                            <h2><strong>"Mama va primero"</strong></h2>
                            <h4 style="color: rgb(214, 150, 30);">Publicidad</h4>
                        </div>
                        <img class="card-img-top" src="/assets/FotoVitrina2.png" height="650px auto" alt="Card image cap">
                        <div class="card-body">
                            <button class="btn btn-success d-block mx-auto">INGRESAR</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="float:left">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h3>Campaña 2</h3>
                            <h2><strong>"Mama va primero"</strong></h2>
                            <h4 style="color: rgb(214, 150, 30);">Publicidad</h4>
                        </div>
                        <img class="card-img-top" src="/assets/FotoVitrina2.png" height="650px auto" alt="Card image cap">
                        <div class="card-body">
                            <button class="btn btn-success d-block mx-auto">INGRESAR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="float:left">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h3>Campaña 3</h3>
                            <h2><strong>"Mama va primero"</strong></h2>
                            <h4 style="color: rgb(214, 150, 30);">Publicidad</h4>
                        </div>
                        <img class="card-img-top" src="/assets/FotoVitrina2.png" height="650px auto" alt="Card image cap">
                        <div class="card-body">
                            <button class="btn btn-success d-block mx-auto">INGRESAR</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>