<app-navbar></app-navbar>
<img src="/assets/Foto4HomePage.png" width="100%" height="auto" alt="">
<div class="container-fluid">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top"
                src="https://www.larepublica.net/storage/images/2021/06/11/20210611130622.mep.png"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">ULACIT y MEP forman alianza que dona 5 mil licencias de LinkedIn Learning
                    para estudiantes de último año de colegio</h4>
                <p class="card-text text-justify">Con una inversión de $60 mil, la Universidad Latinoamericana de
                    Ciencia y
                    Tecnología (ULACIT), donará 5 mil licencias de LinkedIn Learning a estudiantes que se encuentren
                    cursando los dos últimos años de colegio.

                    La alianza entre ULACIT, MEP y LinkedIn Learning permitirá dotar de cursos a los estudiantes de
                    cuarto, quinto y sexto año del colegio, quienes podrán acceder de manera gratuita a más de 16
                    mil cursos virtuales.</p>

                <a class="btn btn-success" target="_blank"
                    href="https://www.larepublica.net/noticia/ulacit-y-mep-forman-alianza-que-dona-5-mil-licencias-de-linkedin-learning-para-estudiantes-de-ultimo-ano-de-colegio">Ver
                    Mas</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://www.larepublica.net/storage/images/2021/06/14/20210614102257.untitled-1.png"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Alianza le trae eventos de alto valor agregado</h4>
                <p class="card-text text-justify">Llevarle al sector jurídico, así como al público en general,
                    información de
                    valor sobre las últimas tendencias, es el fin de la alianza entre Simple Legal Consulting y la
                    ULACIT.

                    Sobre este tema nos habla Herman Duarte, Director de Simple Legal Consulting y María José
                    Yglesias, Decana de la Escuela de Derecho y Relaciones Internacionales de ULACIT.</p>

                <a class="btn btn-success" target="_blank"
                    href="https://www.larepublica.net/noticia/alianza-le-trae-eventos-de-alto-valor-agregado?fbclid=IwAR1DdNIyQEL8YxTmXcKTgD30lCwiEwg6CcLbJx90WLYBLvHEy5swP-a2BTs">Ver
                    Mas</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://www.larepublica.net/storage/images/2021/06/03/20210603155026.ulacit-web1.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Cinco estudiantes destacados fueron premiados por ULACIT con 100% de Beca
                    Liderazgo</h4>
                <p class="card-text text-justify">Por su excelencia académica, actividades extracurriculares y su
                    impacto
                    positivo en la comunidad, cinco jóvenes fueron seleccionados para recibir las Becas Liderazgo de
                    La Universidad Latinoamericana de Ciencia y Tecnología (ULACIT).</p>

                <a class="btn btn-success" target="_blank"
                    href="https://www.larepublica.net/noticia/cinco-estudiantes-destacados-fueron-premiados-por-ulacit-con-100-de-beca-liderazgo">Ver
                    Mas</a>
            </div>
        </div>
    </div>
</div>