<app-navbar></app-navbar>
<br>
<div class="container'fluid">
    <div class="card-group">
        <div class="card">
            
            <div class="card-body">
               <img src="/assets/FotoSellosVerdes.png" width="100%" height="auto" alt="">
              <div class="card">
                 
                  <div class="card-body">
                      <h4 class="card-title">Invita: Escuela de Derecho</h4>
                      <h2 class="card-text">Powering Law: derecho y energias renovables</h2>
                      <br>
                      <button class="btn btn-success col-lg-12">CLICK AQUI PARA ENTRAR AL EVENTO</button>
                  </div>
              </div>
            </div>
        </div>
        <div class="card">
           
            <div class="card-body">
                <img src="/assets/Foto2CalendarioSellosVerdes.png" width="100%" height="auto" alt="">
            </div>
        </div>
    </div>
</div>