<nav class="navbar navbar-expand-sm navbar-light bg-light pt-3 " id="NavbarFixed">

    <div class="container-fluid">

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          
            <ul class="navbar-nav ">


                <li class="nav-item pr-5">
                    <a id="TabsStyles" class="nav-link active text-dark" aria-current="page" href="/"><strong>¿Que hacemos?</strong></a>
                </li>
                
                <li class="nav-item pr-5"  id="TabsGoes">
                    <a id="TabsStyles" class="nav-link text-dark" routerLink="/My-Technology-Strenght"><strong>Centro de Ayuda</strong></a>
                </li>
                <li class="nav-item pr-5"  id="TabsGoes">
                    <a id="TabsStyles" class="nav-link text-dark" routerLink="/Web-Proyects"><strong>Oficinas Virtuales</strong></a>
                </li>
                <li class="nav-item pr-5"  id="TabsGoes">
                    <a id="TabsStyles" class="nav-link text-dark" routerLink="/Contact-Me"><strong>Ultimas Noticias</strong></a>
                </li>
                <li class="nav-item pr-5"  id="TabsGoes">
                    <a id="TabsStyles" class="nav-link text-dark" routerLink="/Contact-Me"><strong>Vitrina</strong></a>
                </li>
                <li class="nav-item pr-5"  id="TabsGoes">
                    <a id="TabsStyles" class="nav-link text-dark" routerLink="/Contact-Me"><strong>Sellos Verdes</strong></a>
                </li>
                <li class="nav-item pr-5"  id="TabsGoes">
                    <a id="TabsStyles" class="nav-link text-dark" routerLink="/Contact-Me"><strong>Podcast</strong></a>
                </li>
                <li class="nav-item pr-5"  id="TabsGoes">
                    <a id="TabsStyles" class="nav-link text-dark" routerLink="/Contact-Me"><strong>Webinars</strong></a>
                </li>
               
                

            </ul>
        </div>
    </div>
</nav>