#TestImage{
    background-image: url('/assets/FotoHomePage.png');
    background-size: cover;
}
#TitleContactos{
    font-size: 1.6cm;
    font-family: 'Lucida Sans';
    color: rgb(92,44,92);
    
}
#ImageLogoGoes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#TitleCajaRecursos{
    font-size:3cm;
    font-family: 'Lucida Sans'; 
    color: rgb(223, 131, 12);
}