.card{
    border-color: transparent;
}

p{
    font-size: xx-large;
    text-align: justify;
    font-family: 'Arial';
}
li{
    font-size: 35px;
}
#TituloContactos{
    color: #5c2c5c;
}
#TituloCajaRecursos{
    font-size: 2.0cm;
    font-family: Lucida Sans;
    color: #df830c;
}
