<div id="TestImage"></div>
<div>
    <app-navbar></app-navbar>
    <div style="padding-top: 1.5cm;"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="margin-left: 50px;">
                <h1 style="font-size:5cm;font-family: 'Lucida Sans';">OK,</h1>

                <h1 style="font-size:2cm;font-family: 'Lucida Sans'; color: rgb(235, 158, 17);">¿QUÉ PODEMOS <br> HACER
                    POR
                    VOS?</h1>

                <h2 class="text-justify">Podemos apoyarte en los diferentes procesos administrativos de la U, darte
                    soporte
                    si tenés problemas de
                    matrícula, dudas sobre cursos, Blackboard, Enrollogic y hasta escucharte si estás pasando un
                    problema
                    que afecte tu rendimiento en la U, somos estudiantes apoyando estudiantes. </h2>
            </div>

            <div class="col">
                <br>
                <br>
                <img src="/assets/Foto2HomePage.png" width="100%" height="auto" alt="">

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div style="padding: 50px;"></div>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <strong>
                    <h1 id="TitleContactos">CONTACTOS</h1>
                </strong>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-1">
                        <a href="https://www.instagram.com/goes_global_ulacit/">
                            <img src="/assets/InstagramIcon.png" width="100% " height="auto"></a>
                    </div>
                    <div class="col">
                        <h2>Somos_GOES</h2>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-1">
                        <a
                            href="https://api.whatsapp.com/send?phone=50687621573&text=Hola!%20como%20estas!%20te%20escribo%20desde%20la%20pagina%20de%20somosgoes.com%2C%20tengo%20una%20pregunta">
                            <img src="/assets/WhatsAppIcon.png" width="100% " height="auto">
                        </a>
                    </div>
                    <div class="col">
                        <h2>8762-1573</h2>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-1">
                        <a
                            href="https://api.whatsapp.com/send?phone=50687621573&text=Hola!%20como%20estas!%20te%20escribo%20desde%20la%20pagina%20de%20somosgoes.com%2C%20tengo%20una%20pregunta">
                            <img src="/assets/emailIcon.png" width="100% " height="auto">
                        </a>
                    </div>
                    <div class="col">
                        <h2>ayuda@somos-goes.com</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img id="ImageLogoGoes" src="/assets/LogoGoes.png" width="100%" height="auto">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div style="padding: 50px; "></div>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img id="ImageLogoGoes" src="/assets/CajadeRecursos.png" width="70%" alt="">
                <h1 class="text-center" id="TitleCajaRecursos">CAJA DE RECURSOS</h1>
            </div>
            <div class="col">
                <br>
                <div class="row">
                    <div class="col" style="max-width: 10rem;">
                        <a href="https://drive.google.com/uc?export=download&id=1fiAhmtgz9czKPWuOW1t33trMag3lt10V">

                            <img src="/assets/DownloadLogo.png" width="100%" height="auto" alt="">

                        </a>
                    </div>
                    <div class="col">

                        <h2 style="margin-top: 30px;">Descargar APA séptima edición. </h2>

                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col" style="max-width: 10rem;">
                        <a href="http://">

                            <img src="/assets/DownloadLogo.png" width="100%" height="auto" alt="">

                        </a>
                    </div>
                    <div class="col">

                        <h2 style="margin-top: 30px;">
                            Descargar calendario 2021 Ulacit </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>