<app-navbar></app-navbar>

<div class="container-fluid">

    <section>

        <div class="card-group">
            <div class="card">

                <div class="card-body">

                    <h1 style="font-size: 250px;">OK,</h1>

                    <h4 style="font-size:80px;color: orange;">¿QUÉ PODEMOS
                        HACER POR VOS?</h4>

                    <p><strong>Podemos apoyarte en los diferentes procesos administrativos de la U, darte soporte si
                            tenés
                            problemas de matrícula, dudas sobre cursos, Blackboard, Enrollogic y hasta escucharte si
                            estás
                            pasando un problema que afecte tu rendimiento en la U, somos estudiantes apoyando
                            estudiantes.</strong>
                    </p>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <img class="img-fluid" src="/assets/Foto2HomePage.png" alt="">
                </div>
            </div>
        </div>

    </section>
    <hr>

    <section>

        <div class="card-group">
            <div class="card">

                <div class="card-body">

                    <h1 id="TituloContactos" style="font-size: 70px;">CONTACTOS</h1>

                    <ul class="list-group">
                        <li class="list-group-item">

                            <a href="http://https://www.instagram.com/goes_global_ulacit/">
                                <img src="/assets/InstagramIcon.png" width="auto" height="auto">
                            </a>
                            Somos_Goes
                        </li>
                        <li class="list-group-item">
                            <a
                                href="https://api.whatsapp.com/send?phone=50687621573&text=Hola!%20como%20estas!%20te%20escribo%20desde%20la%20pagina%20de%20somosgoes.com%2C%20tengo%20una%20pregunta">
                                <img src="/assets/WhatsAppIcon.png" width="auto" height="auto">
                            </a>
                            8762-1573
                        </li>
                        <li class="list-group-item">
                            <a href="mailto:ayuda@somos-goes.com"> <img src="/assets/emailIcon.png" width="auto"
                                    height="auto"></a>

                            ayuda@somos-goes.com
                        </li>
                    </ul>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <img class="img-fluid d-block mx-auto" src="/assets/LogoGoes.png" width="60%" alt="">
                </div>
            </div>
        </div>
    </section>
    <hr>

    <section>

        <div class="card-group">
            <div class="card">

                <div class="card-body">
                    <img class="img-fluid d-block mx-auto" src="/assets/CajadeRecursos.png" width="70%">
                    <br>
                    <h1 id="TituloCajaRecursos" class="text-center">CAJA DE RECURSOS</h1>
                </div>
            </div>
            <div class="card">

                <div class="card-body">

                    <ul class="list-group">
                        <li class="list-group-item text-center">

                            <a href="https://drive.google.com/uc?export=download&id=1fiAhmtgz9czKPWuOW1t33trMag3lt10V">
                                <img class="img-fluid " src="/assets/DownloadLogo.png" width="auto"
                                    height="auto">
                            </a>
                            Descargar APA séptima edición.
                        </li>
                        <li class="list-group-item text-center">
                            <a
                                href="https://api.whatsapp.com/send?phone=50687621573&text=Hola!%20como%20estas!%20te%20escribo%20desde%20la%20pagina%20de%20somosgoes.com%2C%20tengo%20una%20pregunta">
                                <img class="img-fluid " src="/assets/DownloadLogo.png" width="auto"
                                    height="auto">
                            </a>
                            Descargar calendario 2021 Ulacit
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </section>


</div>