<app-navbar></app-navbar>
<div class="container-fluid">

   <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6" style="max-width: 40rem;">
                <h1 style="font-size:5cm;font-family: 'Lucida Sans'; color: rgb(121, 22, 121);">LA <br>
                    OFI
                    <br>
                    <h5 style="font-size:0.8cm;">VIRTUAL DE CADA GOES ESTA AQUI</h5>
                </h1>
            </div>
            <div class="col">
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <!--Controls-->
                    <div class="controls-top">
                        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
                                class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>


                        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                                class="fa fa-arrow-right fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <!--/.Controls-->
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example" data-slide-to="1"></li>

                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">

                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoIngenieriaInformatica.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">INGENIERIA INFORMATICA</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoPublicidad.jpg" width="100%"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">PUBLICIDAD</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoContabilidad.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">CONTABILIDAD</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoIngenieriaQuimicaIndustrial.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">INGENIERIA QUIMICA INDUSTRIAL</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoIngenieriaIndustrial.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">INGENIERIA INDUSTRIAL</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoIngenieriaBiomedica.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">INGENIERIA BIOMEDICA</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoIngenieriaElectronica.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">INGENIERIA ELECTRONICA</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoSaludOcupacional.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">SALUD OCUPACIONAL</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoInteligenciaNegocios.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">INTELIGENCIA DE NEGOCIOS</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!--/.Second slide-->
                        <div class="carousel-item">
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoAdministracionNegocios.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">ADMINISTRACION DE NEGOCIOS</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoBusinessAdministration.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">BUSINESS ADMINISTRATION</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoEconomia.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">ECONOMIA EMPRESARIAL</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoIngles.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">ENSEÑANZA DEL INGLES Y TRADUCCION</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoPsicologia.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">PSICOLOGIA Y EDUCACION ESPECIAL</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoDerecho.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">DERECHO</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoRelacionesInternacionales.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">RELACIONES INTERNACIONALES</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoMercadeo.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">MERCADEO Y MEDIOS DIGITALES</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="float:left">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="/assets/FotoOdontologia.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">ODONTOLOGIA</h5>

                                        <a class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <!--/.Slides-->
                </div>
            </div>
        </div>

    </div>
    <!--FIN DEL CARRUSEL DE CARRERA-->
    <hr>
   


</div>